.clearfix:after{display:block;clear:both;content:'.';height:0;visibility:hidden;font-size:0;}
.clearfix {_zoom:1;}

.fl{float:left;}
.fr{float:right;}
a{text-decoration:none;}

/*body*/
body{font: 400 14px/1.5 Tahoma,Helvetica,arial,sans-serif;color: #000;background-color: #f9f9f9;}
/*header*/
.header{height:46px;background-color:#3a6a8e;}
.header-content{width:1000px;margin:0 auto;}
.header-nav{}
.header-nav li{float:left;}
.header-nav li a{display:block;padding:0 20px;height:46px;line-height:46px;background-color:#3a6a8e;font-size:16px;color:white;}
.header-nav li a:hover{background-color:#265780;}
.header-nav li a.header-logo{background-color:#265780;}
.header-search-form{position:relative;height:46px;}
.header-search-text{width:110px;margin-top:7px;padding:0 5px 0 32px;height:32px;line-height:32px;border-radius:4px;background-color:#3a6a8e;color:white;}
.header-search-label{font: 0/0 a;}
.header-search-button{position:absolute;top:7px;left:0px;width:32px;height:32px;border:0;background:0;cursor:pointer;}
.search-icon{display:block;width:24px;height:24px;background-image:url(../img/icon_24.png);}

/*main*/
.main{width:1000px;margin:0 auto;}
.main-login{height:36px;background-color:black;}
.main-content-pic{width:540px;height:400px;}
.main-content-vo{width:440px;height:396px;border:2px solid #17548b;}

.main-show{margin:10px 0 10px 0;}
.main-show-nav li{float:left;width:245px;margin-right:5px;}
.main-show-nav li a{position:relative;display:block;overflow:hidden;}
.main-show-nav li a .cover{position:absolute;bottom:-50px;left:0;width:245px;height:46px;}
.main-show-nav li a:hover .cover{bottom:5px;}
.cover{z-index:1;}
.cover-bg{position:absolute;display:block;z-index:-1;top:0;left:0;height: 100%;width: 100%;background-color: #2e5984;filter: alpha(opacity=60);-moz-opacity: 0.60;opacity: 0.60;}
.cover h2{height:46px;line-height:46px;font-size:18px;font-weight:bold;color:white;text-align:center;}
/*footer*/
.footer{background-color:#f2f2f2;}
.footer-info{width:1000px;margin:5px auto;font-size:18px;background-color:#a5bbd3;}
.footer-common{width:1000px;margin:0 auto;}
.footer-info-title{height:40px;line-height:40px;width:95px;padding-left:5px;}
.footer-info-nav{height:40px;width:900px;overflow:hidden;}
.footer-info-nav li{float:left;line-height:40px;margin:0 20px 0 10px;}
.footer-info-nav li a{font-size:16px;}
.footer-common-nav{margin:20px 0 10px 0;padding:5px 0 5px 0;border:1px solid #d4d4d4;}
.footer-common-nav li{width:998px;text-align:center;}
/*
.header-nav li:nth-child(1){}
*/
