<div class="row">
    <div class="col-md-12">
        <h1 class="page-title">{{file.name}}</h1>
        {{#each topics}}
        <div class="col-sm-3 wq-mb-10">
            <a class="btn btn-primary btn-block" href="/topics/{{name}}"><span class="fui-list fl"></span>{{name}}</a>
        </div>
        {{/each}}
    </div>
</div>

