@charset "UTF-8";
.fl {
  float: left;
}

.fr {
  float: right;
}

.wq-pt-0 {
  padding-top: 0px;
}

.wq-pl-0 {
  padding-left: 0px;
}

.wq-pb-0 {
  padding-bottom: 0px;
}

.wq-pr-0 {
  padding-right: 0px;
}

.wq-mt-0 {
  margin-top: 0px;
}

.wq-ml-0 {
  margin-left: 0px;
}

.wq-mb-0 {
  margin-bottom: 0px;
}

.wq-mr-0 {
  margin-right: 0px;
}

.wq-pt-5 {
  padding-top: 5px;
}

.wq-pl-5 {
  padding-left: 5px;
}

.wq-pb-5 {
  padding-bottom: 5px;
}

.wq-pr-5 {
  padding-right: 5px;
}

.wq-mt-5 {
  margin-top: 5px;
}

.wq-ml-5 {
  margin-left: 5px;
}

.wq-mb-5 {
  margin-bottom: 5px;
}

.wq-mr-5 {
  margin-right: 5px;
}

.wq-pt-10 {
  padding-top: 10px;
}

.wq-pl-10 {
  padding-left: 10px;
}

.wq-pb-10 {
  padding-bottom: 10px;
}

.wq-pr-10 {
  padding-right: 10px;
}

.wq-mt-10 {
  margin-top: 10px;
}

.wq-ml-10 {
  margin-left: 10px;
}

.wq-mb-10 {
  margin-bottom: 10px;
}

.wq-mr-10 {
  margin-right: 10px;
}

.wq-pt-15 {
  padding-top: 15px;
}

.wq-pl-15 {
  padding-left: 15px;
}

.wq-pb-15 {
  padding-bottom: 15px;
}

.wq-pr-15 {
  padding-right: 15px;
}

.wq-mt-15 {
  margin-top: 15px;
}

.wq-ml-15 {
  margin-left: 15px;
}

.wq-mb-15 {
  margin-bottom: 15px;
}

.wq-mr-15 {
  margin-right: 15px;
}

.wq-pt-20 {
  padding-top: 20px;
}

.wq-pl-20 {
  padding-left: 20px;
}

.wq-pb-20 {
  padding-bottom: 20px;
}

.wq-pr-20 {
  padding-right: 20px;
}

.wq-mt-20 {
  margin-top: 20px;
}

.wq-ml-20 {
  margin-left: 20px;
}

.wq-mb-20 {
  margin-bottom: 20px;
}

.wq-mr-20 {
  margin-right: 20px;
}

.wq-pt-25 {
  padding-top: 25px;
}

.wq-pl-25 {
  padding-left: 25px;
}

.wq-pb-25 {
  padding-bottom: 25px;
}

.wq-pr-25 {
  padding-right: 25px;
}

.wq-mt-25 {
  margin-top: 25px;
}

.wq-ml-25 {
  margin-left: 25px;
}

.wq-mb-25 {
  margin-bottom: 25px;
}

.wq-mr-25 {
  margin-right: 25px;
}

.wq-pt-30 {
  padding-top: 30px;
}

.wq-pl-30 {
  padding-left: 30px;
}

.wq-pb-30 {
  padding-bottom: 30px;
}

.wq-pr-30 {
  padding-right: 30px;
}

.wq-mt-30 {
  margin-top: 30px;
}

.wq-ml-30 {
  margin-left: 30px;
}

.wq-mb-30 {
  margin-bottom: 30px;
}

.wq-mr-30 {
  margin-right: 30px;
}

.wq-pt-35 {
  padding-top: 35px;
}

.wq-pl-35 {
  padding-left: 35px;
}

.wq-pb-35 {
  padding-bottom: 35px;
}

.wq-pr-35 {
  padding-right: 35px;
}

.wq-mt-35 {
  margin-top: 35px;
}

.wq-ml-35 {
  margin-left: 35px;
}

.wq-mb-35 {
  margin-bottom: 35px;
}

.wq-mr-35 {
  margin-right: 35px;
}

.wq-pt-40 {
  padding-top: 40px;
}

.wq-pl-40 {
  padding-left: 40px;
}

.wq-pb-40 {
  padding-bottom: 40px;
}

.wq-pr-40 {
  padding-right: 40px;
}

.wq-mt-40 {
  margin-top: 40px;
}

.wq-ml-40 {
  margin-left: 40px;
}

.wq-mb-40 {
  margin-bottom: 40px;
}

.wq-mr-40 {
  margin-right: 40px;
}

.wq-pt-45 {
  padding-top: 45px;
}

.wq-pl-45 {
  padding-left: 45px;
}

.wq-pb-45 {
  padding-bottom: 45px;
}

.wq-pr-45 {
  padding-right: 45px;
}

.wq-mt-45 {
  margin-top: 45px;
}

.wq-ml-45 {
  margin-left: 45px;
}

.wq-mb-45 {
  margin-bottom: 45px;
}

.wq-mr-45 {
  margin-right: 45px;
}

.wq-pt-50 {
  padding-top: 50px;
}

.wq-pl-50 {
  padding-left: 50px;
}

.wq-pb-50 {
  padding-bottom: 50px;
}

.wq-pr-50 {
  padding-right: 50px;
}

.wq-mt-50 {
  margin-top: 50px;
}

.wq-ml-50 {
  margin-left: 50px;
}

.wq-mb-50 {
  margin-bottom: 50px;
}

.wq-mr-50 {
  margin-right: 50px;
}

.wq-pt-55 {
  padding-top: 55px;
}

.wq-pl-55 {
  padding-left: 55px;
}

.wq-pb-55 {
  padding-bottom: 55px;
}

.wq-pr-55 {
  padding-right: 55px;
}

.wq-mt-55 {
  margin-top: 55px;
}

.wq-ml-55 {
  margin-left: 55px;
}

.wq-mb-55 {
  margin-bottom: 55px;
}

.wq-mr-55 {
  margin-right: 55px;
}

.wq-pt-60 {
  padding-top: 60px;
}

.wq-pl-60 {
  padding-left: 60px;
}

.wq-pb-60 {
  padding-bottom: 60px;
}

.wq-pr-60 {
  padding-right: 60px;
}

.wq-mt-60 {
  margin-top: 60px;
}

.wq-ml-60 {
  margin-left: 60px;
}

.wq-mb-60 {
  margin-bottom: 60px;
}

.wq-mr-60 {
  margin-right: 60px;
}

.wq-pt-65 {
  padding-top: 65px;
}

.wq-pl-65 {
  padding-left: 65px;
}

.wq-pb-65 {
  padding-bottom: 65px;
}

.wq-pr-65 {
  padding-right: 65px;
}

.wq-mt-65 {
  margin-top: 65px;
}

.wq-ml-65 {
  margin-left: 65px;
}

.wq-mb-65 {
  margin-bottom: 65px;
}

.wq-mr-65 {
  margin-right: 65px;
}

.wq-pt-70 {
  padding-top: 70px;
}

.wq-pl-70 {
  padding-left: 70px;
}

.wq-pb-70 {
  padding-bottom: 70px;
}

.wq-pr-70 {
  padding-right: 70px;
}

.wq-mt-70 {
  margin-top: 70px;
}

.wq-ml-70 {
  margin-left: 70px;
}

.wq-mb-70 {
  margin-bottom: 70px;
}

.wq-mr-70 {
  margin-right: 70px;
}

.wq-pt-75 {
  padding-top: 75px;
}

.wq-pl-75 {
  padding-left: 75px;
}

.wq-pb-75 {
  padding-bottom: 75px;
}

.wq-pr-75 {
  padding-right: 75px;
}

.wq-mt-75 {
  margin-top: 75px;
}

.wq-ml-75 {
  margin-left: 75px;
}

.wq-mb-75 {
  margin-bottom: 75px;
}

.wq-mr-75 {
  margin-right: 75px;
}

.wq-pt-80 {
  padding-top: 80px;
}

.wq-pl-80 {
  padding-left: 80px;
}

.wq-pb-80 {
  padding-bottom: 80px;
}

.wq-pr-80 {
  padding-right: 80px;
}

.wq-mt-80 {
  margin-top: 80px;
}

.wq-ml-80 {
  margin-left: 80px;
}

.wq-mb-80 {
  margin-bottom: 80px;
}

.wq-mr-80 {
  margin-right: 80px;
}

.wq-pt-85 {
  padding-top: 85px;
}

.wq-pl-85 {
  padding-left: 85px;
}

.wq-pb-85 {
  padding-bottom: 85px;
}

.wq-pr-85 {
  padding-right: 85px;
}

.wq-mt-85 {
  margin-top: 85px;
}

.wq-ml-85 {
  margin-left: 85px;
}

.wq-mb-85 {
  margin-bottom: 85px;
}

.wq-mr-85 {
  margin-right: 85px;
}

.wq-pt-90 {
  padding-top: 90px;
}

.wq-pl-90 {
  padding-left: 90px;
}

.wq-pb-90 {
  padding-bottom: 90px;
}

.wq-pr-90 {
  padding-right: 90px;
}

.wq-mt-90 {
  margin-top: 90px;
}

.wq-ml-90 {
  margin-left: 90px;
}

.wq-mb-90 {
  margin-bottom: 90px;
}

.wq-mr-90 {
  margin-right: 90px;
}

.wq-pt-95 {
  padding-top: 95px;
}

.wq-pl-95 {
  padding-left: 95px;
}

.wq-pb-95 {
  padding-bottom: 95px;
}

.wq-pr-95 {
  padding-right: 95px;
}

.wq-mt-95 {
  margin-top: 95px;
}

.wq-ml-95 {
  margin-left: 95px;
}

.wq-mb-95 {
  margin-bottom: 95px;
}

.wq-mr-95 {
  margin-right: 95px;
}

.wq-pt-100 {
  padding-top: 100px;
}

.wq-pl-100 {
  padding-left: 100px;
}

.wq-pb-100 {
  padding-bottom: 100px;
}

.wq-pr-100 {
  padding-right: 100px;
}

.wq-mt-100 {
  margin-top: 100px;
}

.wq-ml-100 {
  margin-left: 100px;
}

.wq-mb-100 {
  margin-bottom: 100px;
}

.wq-mr-100 {
  margin-right: 100px;
}

.test-sprite {
  background-image: url('../images/test-sb3d9d38069.png');
  background-repeat: no-repeat;
}

.wq-navbar-box.navbar {
  z-index: 100;
  height: 100%;
  margin-bottom: 0;
  border-color: transparent;
  background-color: transparent;
  font-family: dfkai-sb, stkaiti, 標楷體, 华文楷体;
}
.wq-navbar-box.navbar .navbar-header {
  margin: 11px 3px;
  padding: 2px;
  border: 3px solid #31708f;
  background-color: white;
}
.wq-navbar-box.navbar .navbar-header .navbar-nav {
  margin: 0;
  border: 1px solid #31708f;
}
.wq-navbar-box.navbar .navbar-header .navbar-nav li {
  width: 100%;
}
.wq-navbar-box.navbar .navbar-header .navbar-nav li.menu-item {
  position: relative;
}
.wq-navbar-box.navbar .navbar-header .navbar-nav li.menu-item > a {
  padding: 5px;
  font-size: 36px;
  line-height: 36px;
}
.wq-navbar-box.navbar .navbar-header .navbar-nav li.menu-item > a:hover {
  background-color: #ddd;
}
.wq-navbar-box.navbar .navbar-header .navbar-nav li.menu-item:hover ul.dropdown-menu {
  display: block;
}
.wq-navbar-box.navbar .navbar-header .navbar-nav ul.dropdown-menu {
  top: -45px;
  left: 44px;
  margin-left: 10px;
  z-index: 1000;
  width: 160px;
}
.wq-navbar-box.navbar .navbar-header .navbar-nav ul.dropdown-menu:before {
  content: '';
  position: absolute;
  top: 50px;
  left: -20px;
  border: 10px solid transparent;
  border-right-color: #f3f4f5;
}
.wq-navbar-box.navbar .navbar-header .navbar-nav ul.dropdown-menu a {
  position: relative;
  font-size: 20px;
}
.wq-navbar-box.navbar .navbar-header .navbar-nav ul.dropdown-menu a:hover {
  background-color: white;
}
.wq-navbar-box.navbar .navbar-header .navbar-nav ul.dropdown-menu a:hover:before {
  content: '{';
  position: absolute;
  top: 7px;
  left: 15px;
}
.wq-navbar-box.navbar .navbar-header .navbar-nav ul.dropdown-menu a:hover:after {
  content: '}';
  position: absolute;
  top: 7px;
  right: 15px;
}
.wq-navbar-box.navbar .navbar-header .navbar-nav a {
  font-weight: bold;
  color: #31708f;
  text-align: center;
}
.wq-navbar-box.navbar .navbar-collapse {
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .wq-navbar-box.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 66px;
  }
  .wq-navbar-box.navbar .collapse {
    display: block;
    visibility: visible;
  }

  .navbar-subheader {
    display: none;
  }
}
@media (max-width: 767px) {
  .wq-navbar-box.navbar ul.dropdown-menu {
    display: none;
  }
  .wq-navbar-box.navbar .navbar-header {
    background-color: #3e8eb5;
  }
  .wq-navbar-box.navbar .navbar-header .navbar-nav li.menu-item:hover ul.dropdown-menu {
    display: none;
  }
  .wq-navbar-box.navbar .navbar-header .navbar-nav a {
    color: #245269;
  }
}
.feature-cover {
  position: fixed;
  left: 0;
  top: 0;
  width: 220px;
  height: 100%;
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/bg/mountain.jpg");
  z-index: 99;
}
.feature-cover .feature-cover-word {
  font-family: dfkai-sb, stkaiti, 標楷體, 华文楷体;
  position: absolute;
  top: 1em;
  left: 4em;
  color: white;
}
.feature-cover .feature-cover-word h3, .feature-cover .feature-cover-word p {
  float: left;
  width: 1em;
  display: none;
}
.feature-cover .feature-cover-word .feature-cover-content {
  margin-top: 76px;
  margin-left: 10px;
}
.feature-cover.loading-hidden {
  width: 0;
  overflow: hidden;
}

@media (max-width: 979px) {
  .feature-cover {
    display: none;
  }
}
.main-wrapper.container-fluid h1.page-title {
  padding-bottom: 4px;
  border-bottom: 1px solid #cacaca;
  color: #999;
  font-size: 20px;
}
.main-wrapper.container-fluid.main-wrapper--end {
  margin-left: 0;
}

.carousel img {
  width: 100%;
}

.post-content a {
  word-break: break-all;
  word-wrap: break-word;
}

@media (min-width: 980px) {
  .main-wrapper.container-fluid {
    margin-left: 220px;
  }
  .main-wrapper.container-fluid.loading-change {
    margin-left: 66px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .main-wrapper.container-fluid {
    margin-left: 66px;
  }
}
@media (min-width: 768px) {
  .boot-wrapper.container-fluid {
    margin-left: 96px;
    margin-right: 30px;
  }
}
@media (max-width: 767px) {
  .main-wrapper.container-fluid {
    margin-left: 0;
  }

  .boot-wrapper.container-fluid {
    margin-left: 0;
  }
}
/*login-page*/
@media (min-width: 1096px) {
  .boot-wrapper.container-fluid .login {
    width: 940px;
    margin: 10px auto 25px;
  }
}
@media (max-width: 1095px) {
  .boot-wrapper.container-fluid .login {
    background: none;
    padding-bottom: 38px;
    margin-bottom: 20px;
  }
  .boot-wrapper.container-fluid .login-icon {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 1035px) {
  .boot-wrapper.container-fluid .login .login-screen {
    padding: 100px 50px;
  }
}
@media (max-width: 479px) {
  .boot-wrapper.container-fluid .login {
    padding: 0;
  }
  .boot-wrapper.container-fluid .login .login-screen {
    padding: 0;
    min-height: 213px;
  }
}
.post-wrapper {
  padding-top: 20px;
  padding-bottom: 30px;
  border-bottom: 1px dashed #cacaca;
}
.post-wrapper:hover {
  background-color: #fafafa;
}
.post-wrapper h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}
.post-wrapper .post-content {
  padding: 10px;
}
.post-wrapper .post-content p {
  margin-bottom: 0;
}

.post-tag {
  font-size: 14px;
}
.post-tag > span {
  margin-left: 10px;
  margin-right: 10px;
}
.post-tag .fa {
  margin-right: 4px;
}
.post-tag a {
  margin-right: 4px;
}

.post-pagination {
  padding-top: 20px;
}

.boot-wrapper h1.page-title {
  padding-bottom: 4px;
  border-bottom: 1px solid #cacaca;
  color: #999;
  font-size: 30px;
}
.boot-wrapper .paper-wrapper {
  border-bottom: 1px dashed #cacaca;
  padding-bottom: 15px;
}
.boot-wrapper .paper-wrapper img {
  max-width: 100%;
  max-height: 400px;
  clear: both;
  display: block;
  margin: auto;
  border: 2px solid #e7e9ec;
  border-radius: 6px;
}

.footer {
  margin-top: 20px;
}
.footer .copyright {
  font-size: 12px;
  color: #afafaf;
}
.footer .nav-pills > li > a {
  padding: 6px 11px;
  font-size: 12px;
}

.wq-panel h2 {
  font-size: 24px;
  margin: 5px;
}
.wq-panel p {
  margin: 5px;
}

.wq-archives-year, .wq-block {
  margin-bottom: 10px;
  padding: 4px;
  border: 2px solid #eee;
}
.wq-archives-year img, .wq-block img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.wq-archives-year h2, .wq-block h2 {
  margin: 15px;
  font-size: 18px;
}
.wq-archives-year p, .wq-block p {
  text-indent: 2em;
  margin: 10px 15px;
  font-size: 16px;
}
.wq-archives-year p .btn, .wq-block p .btn {
  text-indent: 0;
}
.wq-archives-year.col-sm-6 p.wq-archives-content, .wq-block.col-sm-6 p.wq-archives-content {
  height: 60px;
}
.wq-archives-year blockquote, .wq-block blockquote {
  margin: 10px 3em;
  border-color: #31708f;
  font-size: 16px;
}
.wq-archives-year blockquote ul, .wq-block blockquote ul {
  list-style: none;
  padding-left: 0;
}
.wq-archives-year blockquote ul li, .wq-block blockquote ul li {
  position: relative;
}
.wq-archives-year blockquote ul .btn, .wq-block blockquote ul .btn {
  position: absolute;
  left: 88px;
  top: 4px;
}
.wq-archives-year .wq-item-list, .wq-block .wq-item-list {
  display: block;
  padding-left: 30px;
}
.wq-archives-year .wq-item-list:hover, .wq-block .wq-item-list:hover {
  background-color: #eee;
}
.wq-archives-year .wq-item-list .fui-link, .wq-block .wq-item-list .fui-link {
  padding-right: 5px;
}

.wq-archives-year:hover:hover {
  border-color: #31708f;
}

* {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
