.boot-wrapper {
    h1.page-title {
        padding-bottom:4px;
        border-bottom:1px solid #cacaca;
        color:#999;
        font-size:30px;
    }

    .paper-wrapper {
        border-bottom:1px dashed #cacaca;
        padding-bottom:15px;
    }
}
