.feature-cover {
    position: fixed;left: 0;top: 0;
    width:220px;height:100%;
    background-color: #eee;background-repeat: no-repeat;background-position: center;background-size: cover;
    background-image:url('../images/bg/mountain.png');
    z-index:99;
    .feature-cover-word {
        font-family: dfkai-sb, stkaiti, 標楷體, 华文楷体;
        position:absolute;
        top:5em;left:4em;
        color:white;
        h3,p {
            float:left;
            width:1em;
        }
        .feature-cover-content {
            margin-top:60px;margin-left:10px;
        }
    }
}
@media (max-width: 979px) {
    .feature-cover {
        display:none;
    }
}
