.wq-navbar-box.navbar {
    height: 100%;
    border-color: transparent;
    background-color: transparent;
    z-index: 100;
    .navbar-header {
        margin:11px 3px;padding:2px;
        border:3px solid $col-logo;
        background-color:white;
        .navbar-nav {
            margin:0;
            border:1px solid $col-logo;
            li {
                width:100%;
            }
            li.menu-item {
                position:relative;
                &>a {
                    padding: 5px;
                    font-size:36px;line-height: 36px;
                    &:hover {
                        background-color:#ddd;
                    }
                }
                &:hover {
                    ul.dropdown-menu {
                        display:block;
                    }
                }

            }
            ul.dropdown-menu {
                top:-40px;left:44px;
                margin-left:10px;
                z-index: 1000;
                width:160px;
                &:before {
                    content:'';position:absolute;
                    top:50px;left:-20px;
                    border:10px solid transparent;
                    border-right-color: #f3f4f5;
                }
                a {
                    position:relative;
                    font-size:20px;
                    &:hover {
                        &:before {
                            content:'{';position:absolute;
                            top:7px;left:15px;
                        }
                        &:after {
                            content:'}';position:absolute;
                            top:7px;right:15px;
                        }
                        background-color:white;
                    }
                }
            }
            a {
                font-weight:bold;color:$col-logo;text-align:center;
            }
        }

    }
    .navbar-collapse {
        position:absolute;
        bottom:10px;right:0;
    }
}


@media (min-width: 768px) {
    .wq-navbar-box.navbar{
        position: fixed;left: 0;top: 0;
        width: 66px;
        .collapse {
            display:block;
            visibility:visible;
        }
    }
    .navbar-subheader {
        display:none;
    }
}
@media (max-width: 767px) {
    .wq-navbar-box.navbar{
        ul.dropdown-menu {
            display:none;
        }
        .navbar-header {
            background-color: lighten($col-logo, 10%);
            .navbar-nav {
                li.menu-item:hover {
                    ul.dropdown-menu {
                        display:none;
                    }
                }
                a {
                    color: darken($col-logo, 10%);
                }
            }
        }
    }
}
