
.main-wrapper.container-fluid {
    h1.page-title {
        padding-bottom:4px;
        border-bottom:1px solid #cacaca;
        color:#999;
        font-size:20px;
    }
    &.main-wrapper--end {
        margin-left:0px;
    }
}

.carousel {
    img {
        width:100%;
    }
}

.post-content {
    a {
        word-break:break-all; word-wrap:break-word;
    }
}

@media (min-width: 980px) {
    .main-wrapper.container-fluid {
        margin-left:220px;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .main-wrapper.container-fluid {
        margin-left:66px;
    }
}
@media (min-width: 768px) {
    .boot-wrapper.container-fluid {
        margin-left:96px;
        margin-right:30px;
    }
}
@media (max-width: 767px) {
    .main-wrapper.container-fluid {
        margin-left:0;
    }
    .boot-wrapper.container-fluid {
        margin-left:0;
    }
}
/*login-page*/
@media (min-width: 1096px) {
    .boot-wrapper.container-fluid {
        .login {
            width:940px;margin:10px auto 25px;
        }
    }
}
@media (max-width: 1095px) {
    .boot-wrapper.container-fluid {
        .login {
            background:none;
            padding-bottom:38px;
            margin-bottom:20px;
        }
        .login-icon {
            display:none;
        }
    }
}
@media (min-width: 480px) and (max-width: 1035px) {
    .boot-wrapper.container-fluid {
        .login {
            .login-screen {
                padding: 100px 50px;
            }
        }
    }
}
@media (max-width: 479px) {
    .boot-wrapper.container-fluid {
        .login {
            padding: 0;
            .login-screen {
                padding: 0;
                min-height:213px;
            }
        }
    }
}


.post-wrapper {
    padding-top:20px;
    padding-bottom:30px;
    border-bottom:1px dashed #cacaca;
    &:hover {
        background-color:#fafafa;
    }
    h2 {
        margin-top:0;margin-bottom:0;
        font-size:30px;
    }
    .post-content {
        padding:10px;
        p {
            margin-bottom:0;
        }
    }
}
.post-tag {
    font-size:14px;
    &>span {
        margin-left:10px;
        margin-right:10px;
    }
    .fa {
        margin-right:4px;
    }
    a {
        margin-right:4px;
    }
}
.post-pagination {
    padding-top:20px;
}
