
.main-wrapper.container-fluid {
    h1.page-title {
        color:#999;
        font-size:20px;
    }
    &.main-wrapper--end {
        margin-left:0px;
    }
}

@media (min-width: 980px) {
    .main-wrapper.container-fluid {
        margin-left:220px;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .main-wrapper.container-fluid {
        margin-left:66px;
    }
}
@media (max-width: 767px) {
    .main-wrapper.container-fluid {
        margin-left:0;
    }
}

.post-wrapper {
    padding-top:20px;
    padding-bottom:30px;
    border-bottom:1px dashed #cacaca;
    &:hover {
        background-color:#fafafa;
    }
    h2 {
        margin-top:0;
        font-size:30px;
    }
    .post-content {
        padding:10px;
    }
    .post-tag {
        &>span {
            margin-left:10px;
        }
        .fa {
            margin-right:4px;
        }
    }

}
