<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="active">首页</li>
        </ol>
        <div class="col-sm-5  col-sm-offset-1 wq-mb-5">
            <a href="/end/postslist" class="btn btn-primary btn-block btn-lg">文章列表</a>
        </div>
        <div class="col-sm-5  col-sm-offset-1 wq-mb-5">
            <a href="/end/paperedit" class="btn btn-inverse btn-block btn-lg">发表文字</a>
        </div>
        <div class="col-sm-5  col-sm-offset-1 wq-mb-5">
            <a href="/end/tags" class="btn btn-primary btn-block btn-lg">标签管理</a>
        </div>
        <div class="col-sm-5  col-sm-offset-1 wq-mb-5">
            <a href="/end/topics" class="btn btn-primary btn-block btn-lg">分类管理</a>
        </div>
        <div class="col-sm-5  col-sm-offset-1 wq-mb-5">
            <a href="/end/pic" class="btn btn-primary btn-block btn-lg">图片管理</a>
        </div>
        <div class="col-sm-5  col-sm-offset-1 wq-mb-5">
            <a href="/end/music" class="btn btn-primary btn-block btn-lg">音乐管理</a>
        </div>
        <div class="col-sm-5  col-sm-offset-1 wq-mb-5">
            <a href="/end/book" class="btn btn-primary btn-block btn-lg">书籍管理</a>
        </div>
    </div>
</div>

