<div class="row">
    <div class="col-md-12">
        <h1 class="page-title"><span>TEST TITLE</span></h1>
    </div>
    <div class="col-md-12">
        <pre style="height:300px;"></pre>
    </div>
    <div class="col-md-12">
        <div class="post-tag">
            <span>
                <i class="fa fa-files-o"></i>分类:
                <a href="#">Javascript</a>
            </span>
            <span>
                <i class="fa fa-tags"></i>标签:
                <a href="#">Javascript</a>
                ,
                <a href="#">HTML</a>
                ,
                <a href="#">TEST</a>
            </span>
        </div>
    </div>
</div>

