<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/end">首页</a></li>
            <li>文字</li>
            <li class="active">{{title}}</li>
        </ol>

        <!--面板-->
        <h1 class="page-title">{{title}}</h1>

        {{#each tags}}
        <button class="btn btn-inverse">{{name}}<a class="fui-cross" href="/end/tagdel/{{_id}}"></a></button>
        {{/each}}

        <form method="post" action="/end/tagadd">
            <input name="name" type="text" class="form-control" placeholder="name" />
            <input class="btn btn-primary btn-lg btn-block" type="submit" value="添加"/>
        </form>

    </div>
</div>

<script>

</script>

