@import "modules/base-color";


@import "sprite/test/index";


@import "partials/header";
@import "partials/feature-cover";
@import "partials/main-wrapper";
@import "partials/footer";



.fl {
    float:left;
}
.fr {
    float:right;
}

h1{
    color:blue;
    //@include test-sprite(icon_tel);
}
