@import "sprite/test/index";
@import "modules/base-color";

.wq-navbar-box.navbar {
    position: fixed;left: 0;top: 0;
    width: 66px;height: 100%;
    z-index: 100;
    .navbar-header {
        margin:11px 3px;padding:2px;
        border:3px solid $col-logo;
        .navbar-nav {
            margin:0;
            border:1px solid $col-logo;
            li {
                width:100%;
            }
            li.menu-item {
                position:relative;
                &>a {
                    padding: 5px;
                    font-size:36px;line-height: 36px;
                    &:hover {
                        background-color:#ddd;
                    }
                }
                &:hover {
                    ul.dropdown-menu {
                        display:block;
                    }
                }

            }
            ul.dropdown-menu {
                top:-40px;left:44px;
                margin-left:10px;
                z-index: 1000;
                width:160px;
                &:before {
                    content:'';position:absolute;
                    top:50px;left:-20px;
                    border:10px solid transparent;
                    border-right-color: white;
                }
                a {
                    position:relative;
                    font-size:20px;
                    &:hover {
                        &:before {
                            content:'{';position:absolute;
                            top:0;left:15px;
                        }
                        &:after {
                            content:'}';position:absolute;
                            top:0;right:15px;
                        }
                        background-color:white;
                    }
                }
            }
            a {
                font-weight:bold;color:$col-logo;text-align:center;
            }
        }

    }
}

.feature-cover {
    position: fixed;left: 66px;top: 0;
    width:154px;height:100%;
    background-color: #eee;background-repeat: no-repeat;background-position: center;background-size: cover;
    background-image:url('../images/bg/mountain.png');
    z-index:99;
    .feature-cover-word {
        position:absolute;
        top:2em;left:2em;
        color:white;
        h3,p {
            float:left;
            width:1em;
        }
        .feature-cover-content {
            margin-top:60px;margin-left:10px;
        }
    }
}

.main-wrapper.container-fluid {
   margin-left:220px;

}


h1{
    color:blue;
    @include test-sprite(icon_tel);
}
