<!DOCTYPE html>
<html>
    <head>
        {{> common/meta_module}}
        <title>{{title}}</title>
        {{> common/css_module}}
        {{> common/js_module}}
    </head>
    <body>
        {{> common/header-simple}}
        <div class="container-fluid main-wrapper main-wrapper--end">
            {{> common/header-end}}
            {{{body}}}
            {{> common/footer}}
        </div>
    </body>
</html>

