<!DOCTYPE html>
<html>
    <head>
        {{> common/meta_module}}
        <title>{{title}}</title>
        {{> common/css_module}}
    </head>
    <body>
        {{> common/header-simple}}
        {{> common/header-end}}
        <div class="container-fluid main-wrapper">
            {{{body}}}
            {{> common/footer}}
        </div>
    </body>
</html>

