<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>YANWEIQING MAIN</title>
        {{> common/css_module}}
    </head>
    <body>

        {{{body}}}

    </body>
</html>

