<div class="bm-bg">
    <div class="bm-head">
        <div class="bm-face">
            <div class="bm-face__part bm-left-eye"></div>
            <div class="bm-face__part bm-right-eye"></div>
            <div class="bm-face__part bm-nose"></div>
        </div>
    </div>

    <div class="bm-body">
        <div class="bm-body__part bm-left-arm">
            <div class="bm-finger bm-finger-1"></div>
            <div class="bm-finger bm-finger-2"></div>
            <div class="bm-finger bm-finger-3"></div>
        </div>
        <div class="bm-body__part bm-right-arm">
            <div class="bm-finger bm-finger-1"></div>
            <div class="bm-finger bm-finger-2"></div>
            <div class="bm-finger bm-finger-3"></div>     
        </div>
        <div class="bm-shoulder"></div>
        <div class="bm-chest">
            <div class="bm-heart">_/￣\_</div>
            <div class="bm-infobd">404</div>
        </div>
        <div class="bm-tummy"></div>
        <div class="bm-hip"></div>
    
    </div>

    <div class="bm-leg">
        <div class="bm-leg-left">
            <div class="foot"></div>
        </div>
        <div class="bm-leg-right">
            <div class="foot"></div>
        </div>
    </div>

</div>
