<nav class="navbar navbar-default wq-navbar-box">
    <div class="navbar-header">
        <ul class="nav navbar-nav">
            <li class="menu-item"><a href="#">遊</a></li> 
            <li class="menu-item">
                <a href="#">牧</a>
                <ul class="dropdown-menu">
                    <li><a href="#">前端思索</a></li>
                    <li><a href="#">研发回忆</a></li>
                    <li><a href="#">交互体会</a></li>
                    <li><a href="#">全栈尝试</a></li>
                </ul>
            </li> 
            <li class="menu-item">
                <a href="#">與</a>
                <ul class="dropdown-menu">
                    <li><a href="#">随笔</a></li>
                    <li><a href="#">随笔</a></li>
                    <li><a href="#">随笔</a></li>
                    <li><a href="#">存档</a></li>
                </ul>     
            </li> 
            <li class="menu-item"><a href="#">漂</a></li> 
            <li class="menu-item">
                <a href="#">流</a>
                <ul class="dropdown-menu">
                    <li><a href="#">友情链接</a></li>
                    <li><a href="#">留言</a></li>
                </ul>     
            </li> 
        </ul>
    
    </div>
    <div class="collapse navbar-collapse"></div>
</nav>

<div class="feature-cover">
    <div class="feature-cover-word">
        <h3>生活点滴</h3>
        <p class="feature-cover-content">我来到你的城市烂俗</p>
        <p class="feature-cover-content">我来到你的城市烂俗</p>
        <p class="feature-cover-content">我来到你的城市烂俗</p>
    </div>
    <div class="feathre-cover-bg"></div>
</div>


<div class="container-fluid main-wrapper">
dhuhwhfhuhwuuuuieerhfehfieurhfiuhiuhfiuerhfiuhfiruhuiehiu
dhuhwhfhuhwuuuuieerhfehfieurhfiuhiuhfiuerhfiuhfiruhuiehiu
dhuhwhfhuhwuuuuieerhfehfieurhfiuhiuhfiuerhfiuhfiruhuiehiu
dhuhwhfhuhwuuuuieerhfehfieurhfiuhiuhfiuerhfiuhfiruhuiehiu
dhuhwhfhuhwuuuuieerhfehfieurhfiuhiuhfiuerhfiuhfiruhuiehiu
dhuhwhfhuhwuuuuieerhfehfieurhfiuhiuhfiuerhfiuhfiruhuiehiu
dhuhwhfhuhwuuuuieerhfehfieurhfiuhiuhfiuerhfiuhfiruhuiehiu
dhuhwhfhuhwuuuuieerhfehfieurhfiuhiuhfiuerhfiuhfiruhuiehiu
dhuhwhfhuhwuuuuieerhfehfieurhfiuhiuhfiuerhfiuhfiruhuiehiu
dhuhwhfhuhwuuuuieerhfehfieurhfiuhiuhfiuerhfiuhfiruhuiehiu
dhuhwhfhuhwuuuuieerhfehfieurhfiuhiuhfiuerhfiuhfiruhuiehiu

</div>

