<h1>{{title}}</h1>
<form action="/login" method="post">
用户名：<input type="text" name="account" value="{{loginname}}"/><br />
密码：  <input type="password" name="password" value=''/><br />
        <input type="submit" value="登录"/>
</form>
{{test}}
