<div class="row">
    <div class="col-md-4">
        YWQ@2015
    </div>
    <div class="col-md-8">
        <ul class="nav nav-pills navbar-right">
            <li class="menu-item"><a href="#">TEST</a></li>
            <li class="menu-item"><a href="#">TEST</a></li>
            <li class="menu-item"><a href="#">TEST</a></li>
            <li class="menu-item"><a href="#">TEST</a></li>
        </ul>
    </div>
</div>
