<div class="row footer">
    <div class="col-sm-4 copyright">
        严伟庆博客 2015~ © sobranie
    </div>
    <div class="col-sm-8">
        <ul class="nav nav-pills navbar-right">
            <li class="menu-item"><a href="/">网站首页</a></li>
            <li class="menu-item"><a href="/about">关于伟庆</a></li>
            <li class="menu-item"><a href="/blog">日志界面</a></li>
            <li class="menu-item"><a href="/blog/site-intro">网站说明</a></li>
            <li class="menu-item"><a href="/contact">给我留言</a></li>
        </ul>
    </div>
</div>
