<div class="feature-cover">
    <div class="feature-cover-word">
        <h3>{{file.title}}</h3>
        {{#each file.content}}
        <p class="feature-cover-content">{{this}}</p>
        {{/each}}
    </div>
    <div class="feathre-cover-bg"></div>
</div>

