<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/end">
                <i class="fa fa-apple"></i> 
                后台
            </a>
        </div>

        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown {{#if showPost}}active{{/if}}">
                    <a href="/end/postslist" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">文字 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/end/postslist">文章列表</a></li>
                        <li><a href="/end/paperedit">发表文字</a></li>
                        <li><a href="/end/tags">标签管理</a></li>
                        <li><a href="/end/topics">分类管理</a></li>
                    </ul>
                </li>
                <li class="{{#if showPic}}active{{/if}}"><a href="/end/pic">图片</a></li>
                <li class="{{#if showMusic}}active{{/if}}"><a href="/end/music">音乐</a></li>
                <li class="{{#if showBook}}active{{/if}}"><a href="/end/book">书籍</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">登出</a></li>
            </ul>
        </div>
    </div>
</nav>
