<nav class="navbar navbar-default wq-navbar-box">
    <div class="navbar-header">
        <ul class="nav navbar-nav">
            <li class="menu-item"><a href="#">遊</a></li> 
            <li class="menu-item">
                <a href="#">牧</a>
                <ul class="dropdown-menu">
                    <li><a href="#">前端思索</a></li>
                    <li><a href="#">研发回忆</a></li>
                    <li><a href="#">交互体会</a></li>
                    <li><a href="#">全栈尝试</a></li>
                </ul>
            </li> 
            <li class="menu-item">
                <a href="#">與</a>
                <ul class="dropdown-menu">
                    <li><a href="#">随笔</a></li>
                    <li><a href="#">随笔</a></li>
                    <li><a href="#">随笔</a></li>
                    <li><a href="#">存档</a></li>
                </ul>     
            </li> 
            <li class="menu-item"><a href="#">漂</a></li> 
            <li class="menu-item">
                <a href="#">流</a>
                <ul class="dropdown-menu">
                    <li><a href="#">友情链接</a></li>
                    <li><a href="#">留言</a></li>
                </ul>     
            </li> 
        </ul>
    
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="#" rel="github of YanWeiqing"class="fa fa-github"></a></li>
            <li><a href="#" class="fa fa-github"></a></li>
        </ul>
    </div>
</nav>

