<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a href="#">BackGround</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="menu-item"><a href="#">博客</a></li> 
        <li class="menu-item"><a href="#">图片</a></li> 
        <li class="menu-item"><a href="#">音乐</a></li> 
        <li class="menu-item"><a href="#">书籍</a></li> 
    </ul>
</nav>
 
