<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a href="#">仓储</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="menu-item"><a href="#">遊</a></li> 
        <li class="menu-item"><a href="#">遊</a></li> 
        <li class="menu-item"><a href="#">遊</a></li> 
        <li class="menu-item"><a href="#">遊</a></li> 
    </ul>
</nav>
 
