<nav class="navbar navbar-default wq-navbar-box">
    <div class="navbar-header">
        <div class="navbar-subheader clearfix">
            <a class="navbar-brand" href="/" title="严伟庆博客">严伟庆博客</a>
            <button type="button" class="navbar-toggle" id="navbarToggle"></button>
        </div>
        <ul class="nav navbar-nav collapse" id="collapseNav">
            <li class="menu-item"><a href="/">遊</a></li> 
            <li class="menu-item">
                <a href="/topics/coding">牧</a>
                <ul class="dropdown-menu">
                    <li><a href="/topics/front-end">前端思索</a></li>
                    <li><a href="/topics/full-stack">全栈尝试</a></li>
                    <li><a href="/topics/heading">读书笔记</a></li>
                    <li><a href="/topics/summary">成长总结</a></li>
                </ul>
            </li> 
            <li class="menu-item">
                <a href="/topics/hobbies">與</a>
                <ul class="dropdown-menu">
                    <li><a href="/topics/reading">悦读</a></li>
                    <li><a href="/topics/movie">观影</a></li>
                    <li><a href="/topics/evaluation">测评</a></li>
                    <li><a href="/topics/sahuan">撒欢</a></li>
                </ul>     
            </li> 
            <li class="menu-item">
                <a href="/topics/life">漂</a>
                <ul class="dropdown-menu">
                    <li><a href="/topics/life">生活随笔</a></li>
                    <li><a href="/topics/writing">杂乱文章</a></li>
                    <li><a href="/topics/share">资源分享</a></li>
                    <li><a href="/archives">文章存档</a></li>
                </ul>    
            </li> 
            <li class="menu-item">
                <a href="/about">流</a>
                <ul class="dropdown-menu">
                    <li><a href="/about">关于严伟庆</a></li>
                    <li><a href="/links">友情链接</a></li>
                    <li><a href="/concat">留言</a></li>
                </ul>     
            </li> 
        </ul>
    
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="http://github.com/Sobranier" rel="github of YanWeiqing" class="fa fa-github" target="_blank" data-toggle="tooltip" data-placement="right" title="访问我的GitHub"></a></li>
            <li><a href="http://instagram.com/sobraniers" class="fa fa-instagram" target="_blank" data-toggle="tooltip" data-placement="right" title="访问我的Instagram"></a></li>
            <li><a href="http://weibo.com/sobranier" class="fa fa-weibo" target="_blank" data-toggle="tooltip" data-placement="right" title="访问我的微博"></a></li>
            <li><a href="/about" class="fa fa-weixin" data-toggle="tooltip" data-placement="right" title="添加微信79242285"></a></li>
        </ul>
    </div>
</nav>
<script>
    $('#navbarToggle').bind('click', function () {
        $('#collapseNav').toggleClass('collapse');
    });
    $('[data-toggle="tooltip"]').tooltip();
</script>
