.wq-archives-year, .wq-block{
    margin-bottom:10px;
    padding:4px;
    border:2px solid #eee;
    img {
        display:block;
        margin:0 auto;
        max-width:100%;height:auto;
    }
    h2 {
        margin:15px;
        font-size:18px;
    }
    p {
        text-indent:2em;
        margin:10px 15px;
        font-size:16px;
        .btn {
            text-indent:0;
        }
    }
    .btn-fix {
        position: absolute;
        bottom:16px;
        right:21px;
    }
    &.col-sm-6 p.wq-archives-content {
        height:60px;
    }
    blockquote {
        margin: 10px 3em;border-color:#31708f;font-size:16px;
        ul {
            list-style:none;
            padding-left:0;
            li {
                position:relative;
            }
            .btn {
                position:absolute;
                left:88px;top:4px;
            }
        }
    }
    .wq-item-list {
        display:block;
        padding-left:30px;
        &:hover {
            background-color:#eee;
        }
        .fui-link {
            padding-right:5px;
        }
    }
}
.wq-archives-year:hover {
    &:hover {
        border-color:#31708f;
    }
}
