@charset "UTF-8";
.fl {
  float: left;
}

.fr {
  float: right;
}

.wq-pt-0 {
  padding-top: 0px;
}

.wq-pl-0 {
  padding-left: 0px;
}

.wq-pb-0 {
  padding-bottom: 0px;
}

.wq-pr-0 {
  padding-right: 0px;
}

.wq-mt-0 {
  margin-top: 0px;
}

.wq-ml-0 {
  margin-left: 0px;
}

.wq-mb-0 {
  margin-bottom: 0px;
}

.wq-mr-0 {
  margin-right: 0px;
}

.wq-wi-0 {
  width: 0px;
}

.wq-he-0 {
  height: 0px;
}

.wq-pt-5 {
  padding-top: 5px;
}

.wq-pl-5 {
  padding-left: 5px;
}

.wq-pb-5 {
  padding-bottom: 5px;
}

.wq-pr-5 {
  padding-right: 5px;
}

.wq-mt-5 {
  margin-top: 5px;
}

.wq-ml-5 {
  margin-left: 5px;
}

.wq-mb-5 {
  margin-bottom: 5px;
}

.wq-mr-5 {
  margin-right: 5px;
}

.wq-wi-5 {
  width: 5px;
}

.wq-he-5 {
  height: 5px;
}

.wq-pt-10 {
  padding-top: 10px;
}

.wq-pl-10 {
  padding-left: 10px;
}

.wq-pb-10 {
  padding-bottom: 10px;
}

.wq-pr-10 {
  padding-right: 10px;
}

.wq-mt-10 {
  margin-top: 10px;
}

.wq-ml-10 {
  margin-left: 10px;
}

.wq-mb-10 {
  margin-bottom: 10px;
}

.wq-mr-10 {
  margin-right: 10px;
}

.wq-wi-10 {
  width: 10px;
}

.wq-he-10 {
  height: 10px;
}

.wq-pt-15 {
  padding-top: 15px;
}

.wq-pl-15 {
  padding-left: 15px;
}

.wq-pb-15 {
  padding-bottom: 15px;
}

.wq-pr-15 {
  padding-right: 15px;
}

.wq-mt-15 {
  margin-top: 15px;
}

.wq-ml-15 {
  margin-left: 15px;
}

.wq-mb-15 {
  margin-bottom: 15px;
}

.wq-mr-15 {
  margin-right: 15px;
}

.wq-wi-15 {
  width: 15px;
}

.wq-he-15 {
  height: 15px;
}

.wq-pt-20 {
  padding-top: 20px;
}

.wq-pl-20 {
  padding-left: 20px;
}

.wq-pb-20 {
  padding-bottom: 20px;
}

.wq-pr-20 {
  padding-right: 20px;
}

.wq-mt-20 {
  margin-top: 20px;
}

.wq-ml-20 {
  margin-left: 20px;
}

.wq-mb-20 {
  margin-bottom: 20px;
}

.wq-mr-20 {
  margin-right: 20px;
}

.wq-wi-20 {
  width: 20px;
}

.wq-he-20 {
  height: 20px;
}

.wq-pt-25 {
  padding-top: 25px;
}

.wq-pl-25 {
  padding-left: 25px;
}

.wq-pb-25 {
  padding-bottom: 25px;
}

.wq-pr-25 {
  padding-right: 25px;
}

.wq-mt-25 {
  margin-top: 25px;
}

.wq-ml-25 {
  margin-left: 25px;
}

.wq-mb-25 {
  margin-bottom: 25px;
}

.wq-mr-25 {
  margin-right: 25px;
}

.wq-wi-25 {
  width: 25px;
}

.wq-he-25 {
  height: 25px;
}

.wq-pt-30 {
  padding-top: 30px;
}

.wq-pl-30 {
  padding-left: 30px;
}

.wq-pb-30 {
  padding-bottom: 30px;
}

.wq-pr-30 {
  padding-right: 30px;
}

.wq-mt-30 {
  margin-top: 30px;
}

.wq-ml-30 {
  margin-left: 30px;
}

.wq-mb-30 {
  margin-bottom: 30px;
}

.wq-mr-30 {
  margin-right: 30px;
}

.wq-wi-30 {
  width: 30px;
}

.wq-he-30 {
  height: 30px;
}

.wq-pt-35 {
  padding-top: 35px;
}

.wq-pl-35 {
  padding-left: 35px;
}

.wq-pb-35 {
  padding-bottom: 35px;
}

.wq-pr-35 {
  padding-right: 35px;
}

.wq-mt-35 {
  margin-top: 35px;
}

.wq-ml-35 {
  margin-left: 35px;
}

.wq-mb-35 {
  margin-bottom: 35px;
}

.wq-mr-35 {
  margin-right: 35px;
}

.wq-wi-35 {
  width: 35px;
}

.wq-he-35 {
  height: 35px;
}

.wq-pt-40 {
  padding-top: 40px;
}

.wq-pl-40 {
  padding-left: 40px;
}

.wq-pb-40 {
  padding-bottom: 40px;
}

.wq-pr-40 {
  padding-right: 40px;
}

.wq-mt-40 {
  margin-top: 40px;
}

.wq-ml-40 {
  margin-left: 40px;
}

.wq-mb-40 {
  margin-bottom: 40px;
}

.wq-mr-40 {
  margin-right: 40px;
}

.wq-wi-40 {
  width: 40px;
}

.wq-he-40 {
  height: 40px;
}

.wq-pt-45 {
  padding-top: 45px;
}

.wq-pl-45 {
  padding-left: 45px;
}

.wq-pb-45 {
  padding-bottom: 45px;
}

.wq-pr-45 {
  padding-right: 45px;
}

.wq-mt-45 {
  margin-top: 45px;
}

.wq-ml-45 {
  margin-left: 45px;
}

.wq-mb-45 {
  margin-bottom: 45px;
}

.wq-mr-45 {
  margin-right: 45px;
}

.wq-wi-45 {
  width: 45px;
}

.wq-he-45 {
  height: 45px;
}

.wq-pt-50 {
  padding-top: 50px;
}

.wq-pl-50 {
  padding-left: 50px;
}

.wq-pb-50 {
  padding-bottom: 50px;
}

.wq-pr-50 {
  padding-right: 50px;
}

.wq-mt-50 {
  margin-top: 50px;
}

.wq-ml-50 {
  margin-left: 50px;
}

.wq-mb-50 {
  margin-bottom: 50px;
}

.wq-mr-50 {
  margin-right: 50px;
}

.wq-wi-50 {
  width: 50px;
}

.wq-he-50 {
  height: 50px;
}

.wq-pt-55 {
  padding-top: 55px;
}

.wq-pl-55 {
  padding-left: 55px;
}

.wq-pb-55 {
  padding-bottom: 55px;
}

.wq-pr-55 {
  padding-right: 55px;
}

.wq-mt-55 {
  margin-top: 55px;
}

.wq-ml-55 {
  margin-left: 55px;
}

.wq-mb-55 {
  margin-bottom: 55px;
}

.wq-mr-55 {
  margin-right: 55px;
}

.wq-wi-55 {
  width: 55px;
}

.wq-he-55 {
  height: 55px;
}

.wq-pt-60 {
  padding-top: 60px;
}

.wq-pl-60 {
  padding-left: 60px;
}

.wq-pb-60 {
  padding-bottom: 60px;
}

.wq-pr-60 {
  padding-right: 60px;
}

.wq-mt-60 {
  margin-top: 60px;
}

.wq-ml-60 {
  margin-left: 60px;
}

.wq-mb-60 {
  margin-bottom: 60px;
}

.wq-mr-60 {
  margin-right: 60px;
}

.wq-wi-60 {
  width: 60px;
}

.wq-he-60 {
  height: 60px;
}

.wq-pt-65 {
  padding-top: 65px;
}

.wq-pl-65 {
  padding-left: 65px;
}

.wq-pb-65 {
  padding-bottom: 65px;
}

.wq-pr-65 {
  padding-right: 65px;
}

.wq-mt-65 {
  margin-top: 65px;
}

.wq-ml-65 {
  margin-left: 65px;
}

.wq-mb-65 {
  margin-bottom: 65px;
}

.wq-mr-65 {
  margin-right: 65px;
}

.wq-wi-65 {
  width: 65px;
}

.wq-he-65 {
  height: 65px;
}

.wq-pt-70 {
  padding-top: 70px;
}

.wq-pl-70 {
  padding-left: 70px;
}

.wq-pb-70 {
  padding-bottom: 70px;
}

.wq-pr-70 {
  padding-right: 70px;
}

.wq-mt-70 {
  margin-top: 70px;
}

.wq-ml-70 {
  margin-left: 70px;
}

.wq-mb-70 {
  margin-bottom: 70px;
}

.wq-mr-70 {
  margin-right: 70px;
}

.wq-wi-70 {
  width: 70px;
}

.wq-he-70 {
  height: 70px;
}

.wq-pt-75 {
  padding-top: 75px;
}

.wq-pl-75 {
  padding-left: 75px;
}

.wq-pb-75 {
  padding-bottom: 75px;
}

.wq-pr-75 {
  padding-right: 75px;
}

.wq-mt-75 {
  margin-top: 75px;
}

.wq-ml-75 {
  margin-left: 75px;
}

.wq-mb-75 {
  margin-bottom: 75px;
}

.wq-mr-75 {
  margin-right: 75px;
}

.wq-wi-75 {
  width: 75px;
}

.wq-he-75 {
  height: 75px;
}

.wq-pt-80 {
  padding-top: 80px;
}

.wq-pl-80 {
  padding-left: 80px;
}

.wq-pb-80 {
  padding-bottom: 80px;
}

.wq-pr-80 {
  padding-right: 80px;
}

.wq-mt-80 {
  margin-top: 80px;
}

.wq-ml-80 {
  margin-left: 80px;
}

.wq-mb-80 {
  margin-bottom: 80px;
}

.wq-mr-80 {
  margin-right: 80px;
}

.wq-wi-80 {
  width: 80px;
}

.wq-he-80 {
  height: 80px;
}

.wq-pt-85 {
  padding-top: 85px;
}

.wq-pl-85 {
  padding-left: 85px;
}

.wq-pb-85 {
  padding-bottom: 85px;
}

.wq-pr-85 {
  padding-right: 85px;
}

.wq-mt-85 {
  margin-top: 85px;
}

.wq-ml-85 {
  margin-left: 85px;
}

.wq-mb-85 {
  margin-bottom: 85px;
}

.wq-mr-85 {
  margin-right: 85px;
}

.wq-wi-85 {
  width: 85px;
}

.wq-he-85 {
  height: 85px;
}

.wq-pt-90 {
  padding-top: 90px;
}

.wq-pl-90 {
  padding-left: 90px;
}

.wq-pb-90 {
  padding-bottom: 90px;
}

.wq-pr-90 {
  padding-right: 90px;
}

.wq-mt-90 {
  margin-top: 90px;
}

.wq-ml-90 {
  margin-left: 90px;
}

.wq-mb-90 {
  margin-bottom: 90px;
}

.wq-mr-90 {
  margin-right: 90px;
}

.wq-wi-90 {
  width: 90px;
}

.wq-he-90 {
  height: 90px;
}

.wq-pt-95 {
  padding-top: 95px;
}

.wq-pl-95 {
  padding-left: 95px;
}

.wq-pb-95 {
  padding-bottom: 95px;
}

.wq-pr-95 {
  padding-right: 95px;
}

.wq-mt-95 {
  margin-top: 95px;
}

.wq-ml-95 {
  margin-left: 95px;
}

.wq-mb-95 {
  margin-bottom: 95px;
}

.wq-mr-95 {
  margin-right: 95px;
}

.wq-wi-95 {
  width: 95px;
}

.wq-he-95 {
  height: 95px;
}

.wq-pt-100 {
  padding-top: 100px;
}

.wq-pl-100 {
  padding-left: 100px;
}

.wq-pb-100 {
  padding-bottom: 100px;
}

.wq-pr-100 {
  padding-right: 100px;
}

.wq-mt-100 {
  margin-top: 100px;
}

.wq-ml-100 {
  margin-left: 100px;
}

.wq-mb-100 {
  margin-bottom: 100px;
}

.wq-mr-100 {
  margin-right: 100px;
}

.wq-wi-100 {
  width: 100px;
}

.wq-he-100 {
  height: 100px;
}

.wq-pt-105 {
  padding-top: 105px;
}

.wq-pl-105 {
  padding-left: 105px;
}

.wq-pb-105 {
  padding-bottom: 105px;
}

.wq-pr-105 {
  padding-right: 105px;
}

.wq-mt-105 {
  margin-top: 105px;
}

.wq-ml-105 {
  margin-left: 105px;
}

.wq-mb-105 {
  margin-bottom: 105px;
}

.wq-mr-105 {
  margin-right: 105px;
}

.wq-wi-105 {
  width: 105px;
}

.wq-he-105 {
  height: 105px;
}

.wq-pt-110 {
  padding-top: 110px;
}

.wq-pl-110 {
  padding-left: 110px;
}

.wq-pb-110 {
  padding-bottom: 110px;
}

.wq-pr-110 {
  padding-right: 110px;
}

.wq-mt-110 {
  margin-top: 110px;
}

.wq-ml-110 {
  margin-left: 110px;
}

.wq-mb-110 {
  margin-bottom: 110px;
}

.wq-mr-110 {
  margin-right: 110px;
}

.wq-wi-110 {
  width: 110px;
}

.wq-he-110 {
  height: 110px;
}

.wq-pt-115 {
  padding-top: 115px;
}

.wq-pl-115 {
  padding-left: 115px;
}

.wq-pb-115 {
  padding-bottom: 115px;
}

.wq-pr-115 {
  padding-right: 115px;
}

.wq-mt-115 {
  margin-top: 115px;
}

.wq-ml-115 {
  margin-left: 115px;
}

.wq-mb-115 {
  margin-bottom: 115px;
}

.wq-mr-115 {
  margin-right: 115px;
}

.wq-wi-115 {
  width: 115px;
}

.wq-he-115 {
  height: 115px;
}

.wq-pt-120 {
  padding-top: 120px;
}

.wq-pl-120 {
  padding-left: 120px;
}

.wq-pb-120 {
  padding-bottom: 120px;
}

.wq-pr-120 {
  padding-right: 120px;
}

.wq-mt-120 {
  margin-top: 120px;
}

.wq-ml-120 {
  margin-left: 120px;
}

.wq-mb-120 {
  margin-bottom: 120px;
}

.wq-mr-120 {
  margin-right: 120px;
}

.wq-wi-120 {
  width: 120px;
}

.wq-he-120 {
  height: 120px;
}

.wq-pt-125 {
  padding-top: 125px;
}

.wq-pl-125 {
  padding-left: 125px;
}

.wq-pb-125 {
  padding-bottom: 125px;
}

.wq-pr-125 {
  padding-right: 125px;
}

.wq-mt-125 {
  margin-top: 125px;
}

.wq-ml-125 {
  margin-left: 125px;
}

.wq-mb-125 {
  margin-bottom: 125px;
}

.wq-mr-125 {
  margin-right: 125px;
}

.wq-wi-125 {
  width: 125px;
}

.wq-he-125 {
  height: 125px;
}

.wq-pt-130 {
  padding-top: 130px;
}

.wq-pl-130 {
  padding-left: 130px;
}

.wq-pb-130 {
  padding-bottom: 130px;
}

.wq-pr-130 {
  padding-right: 130px;
}

.wq-mt-130 {
  margin-top: 130px;
}

.wq-ml-130 {
  margin-left: 130px;
}

.wq-mb-130 {
  margin-bottom: 130px;
}

.wq-mr-130 {
  margin-right: 130px;
}

.wq-wi-130 {
  width: 130px;
}

.wq-he-130 {
  height: 130px;
}

.wq-pt-135 {
  padding-top: 135px;
}

.wq-pl-135 {
  padding-left: 135px;
}

.wq-pb-135 {
  padding-bottom: 135px;
}

.wq-pr-135 {
  padding-right: 135px;
}

.wq-mt-135 {
  margin-top: 135px;
}

.wq-ml-135 {
  margin-left: 135px;
}

.wq-mb-135 {
  margin-bottom: 135px;
}

.wq-mr-135 {
  margin-right: 135px;
}

.wq-wi-135 {
  width: 135px;
}

.wq-he-135 {
  height: 135px;
}

.wq-pt-140 {
  padding-top: 140px;
}

.wq-pl-140 {
  padding-left: 140px;
}

.wq-pb-140 {
  padding-bottom: 140px;
}

.wq-pr-140 {
  padding-right: 140px;
}

.wq-mt-140 {
  margin-top: 140px;
}

.wq-ml-140 {
  margin-left: 140px;
}

.wq-mb-140 {
  margin-bottom: 140px;
}

.wq-mr-140 {
  margin-right: 140px;
}

.wq-wi-140 {
  width: 140px;
}

.wq-he-140 {
  height: 140px;
}

.wq-pt-145 {
  padding-top: 145px;
}

.wq-pl-145 {
  padding-left: 145px;
}

.wq-pb-145 {
  padding-bottom: 145px;
}

.wq-pr-145 {
  padding-right: 145px;
}

.wq-mt-145 {
  margin-top: 145px;
}

.wq-ml-145 {
  margin-left: 145px;
}

.wq-mb-145 {
  margin-bottom: 145px;
}

.wq-mr-145 {
  margin-right: 145px;
}

.wq-wi-145 {
  width: 145px;
}

.wq-he-145 {
  height: 145px;
}

.wq-pt-150 {
  padding-top: 150px;
}

.wq-pl-150 {
  padding-left: 150px;
}

.wq-pb-150 {
  padding-bottom: 150px;
}

.wq-pr-150 {
  padding-right: 150px;
}

.wq-mt-150 {
  margin-top: 150px;
}

.wq-ml-150 {
  margin-left: 150px;
}

.wq-mb-150 {
  margin-bottom: 150px;
}

.wq-mr-150 {
  margin-right: 150px;
}

.wq-wi-150 {
  width: 150px;
}

.wq-he-150 {
  height: 150px;
}

.wq-pt-155 {
  padding-top: 155px;
}

.wq-pl-155 {
  padding-left: 155px;
}

.wq-pb-155 {
  padding-bottom: 155px;
}

.wq-pr-155 {
  padding-right: 155px;
}

.wq-mt-155 {
  margin-top: 155px;
}

.wq-ml-155 {
  margin-left: 155px;
}

.wq-mb-155 {
  margin-bottom: 155px;
}

.wq-mr-155 {
  margin-right: 155px;
}

.wq-wi-155 {
  width: 155px;
}

.wq-he-155 {
  height: 155px;
}

.wq-pt-160 {
  padding-top: 160px;
}

.wq-pl-160 {
  padding-left: 160px;
}

.wq-pb-160 {
  padding-bottom: 160px;
}

.wq-pr-160 {
  padding-right: 160px;
}

.wq-mt-160 {
  margin-top: 160px;
}

.wq-ml-160 {
  margin-left: 160px;
}

.wq-mb-160 {
  margin-bottom: 160px;
}

.wq-mr-160 {
  margin-right: 160px;
}

.wq-wi-160 {
  width: 160px;
}

.wq-he-160 {
  height: 160px;
}

.wq-pt-165 {
  padding-top: 165px;
}

.wq-pl-165 {
  padding-left: 165px;
}

.wq-pb-165 {
  padding-bottom: 165px;
}

.wq-pr-165 {
  padding-right: 165px;
}

.wq-mt-165 {
  margin-top: 165px;
}

.wq-ml-165 {
  margin-left: 165px;
}

.wq-mb-165 {
  margin-bottom: 165px;
}

.wq-mr-165 {
  margin-right: 165px;
}

.wq-wi-165 {
  width: 165px;
}

.wq-he-165 {
  height: 165px;
}

.wq-pt-170 {
  padding-top: 170px;
}

.wq-pl-170 {
  padding-left: 170px;
}

.wq-pb-170 {
  padding-bottom: 170px;
}

.wq-pr-170 {
  padding-right: 170px;
}

.wq-mt-170 {
  margin-top: 170px;
}

.wq-ml-170 {
  margin-left: 170px;
}

.wq-mb-170 {
  margin-bottom: 170px;
}

.wq-mr-170 {
  margin-right: 170px;
}

.wq-wi-170 {
  width: 170px;
}

.wq-he-170 {
  height: 170px;
}

.wq-pt-175 {
  padding-top: 175px;
}

.wq-pl-175 {
  padding-left: 175px;
}

.wq-pb-175 {
  padding-bottom: 175px;
}

.wq-pr-175 {
  padding-right: 175px;
}

.wq-mt-175 {
  margin-top: 175px;
}

.wq-ml-175 {
  margin-left: 175px;
}

.wq-mb-175 {
  margin-bottom: 175px;
}

.wq-mr-175 {
  margin-right: 175px;
}

.wq-wi-175 {
  width: 175px;
}

.wq-he-175 {
  height: 175px;
}

.wq-pt-180 {
  padding-top: 180px;
}

.wq-pl-180 {
  padding-left: 180px;
}

.wq-pb-180 {
  padding-bottom: 180px;
}

.wq-pr-180 {
  padding-right: 180px;
}

.wq-mt-180 {
  margin-top: 180px;
}

.wq-ml-180 {
  margin-left: 180px;
}

.wq-mb-180 {
  margin-bottom: 180px;
}

.wq-mr-180 {
  margin-right: 180px;
}

.wq-wi-180 {
  width: 180px;
}

.wq-he-180 {
  height: 180px;
}

.wq-pt-185 {
  padding-top: 185px;
}

.wq-pl-185 {
  padding-left: 185px;
}

.wq-pb-185 {
  padding-bottom: 185px;
}

.wq-pr-185 {
  padding-right: 185px;
}

.wq-mt-185 {
  margin-top: 185px;
}

.wq-ml-185 {
  margin-left: 185px;
}

.wq-mb-185 {
  margin-bottom: 185px;
}

.wq-mr-185 {
  margin-right: 185px;
}

.wq-wi-185 {
  width: 185px;
}

.wq-he-185 {
  height: 185px;
}

.wq-pt-190 {
  padding-top: 190px;
}

.wq-pl-190 {
  padding-left: 190px;
}

.wq-pb-190 {
  padding-bottom: 190px;
}

.wq-pr-190 {
  padding-right: 190px;
}

.wq-mt-190 {
  margin-top: 190px;
}

.wq-ml-190 {
  margin-left: 190px;
}

.wq-mb-190 {
  margin-bottom: 190px;
}

.wq-mr-190 {
  margin-right: 190px;
}

.wq-wi-190 {
  width: 190px;
}

.wq-he-190 {
  height: 190px;
}

.wq-pt-195 {
  padding-top: 195px;
}

.wq-pl-195 {
  padding-left: 195px;
}

.wq-pb-195 {
  padding-bottom: 195px;
}

.wq-pr-195 {
  padding-right: 195px;
}

.wq-mt-195 {
  margin-top: 195px;
}

.wq-ml-195 {
  margin-left: 195px;
}

.wq-mb-195 {
  margin-bottom: 195px;
}

.wq-mr-195 {
  margin-right: 195px;
}

.wq-wi-195 {
  width: 195px;
}

.wq-he-195 {
  height: 195px;
}

.wq-pt-200 {
  padding-top: 200px;
}

.wq-pl-200 {
  padding-left: 200px;
}

.wq-pb-200 {
  padding-bottom: 200px;
}

.wq-pr-200 {
  padding-right: 200px;
}

.wq-mt-200 {
  margin-top: 200px;
}

.wq-ml-200 {
  margin-left: 200px;
}

.wq-mb-200 {
  margin-bottom: 200px;
}

.wq-mr-200 {
  margin-right: 200px;
}

.wq-wi-200 {
  width: 200px;
}

.wq-he-200 {
  height: 200px;
}

.test-sprite {
  background-image: url('../images/test-sb3d9d38069.png');
  background-repeat: no-repeat;
}

.wq-navbar-box.navbar {
  z-index: 100;
  height: 100%;
  margin-bottom: 0;
  border-color: transparent;
  background-color: transparent;
  font-family: dfkai-sb, stkaiti, 標楷體, 华文楷体;
}
.wq-navbar-box.navbar .navbar-header {
  margin: 11px 3px;
  padding: 2px;
  border: 3px solid #31708f;
  background-color: white;
}
.wq-navbar-box.navbar .navbar-header .navbar-nav {
  margin: 0;
  border: 1px solid #31708f;
}
.wq-navbar-box.navbar .navbar-header .navbar-nav li {
  width: 100%;
}
.wq-navbar-box.navbar .navbar-header .navbar-nav li.menu-item {
  position: relative;
}
.wq-navbar-box.navbar .navbar-header .navbar-nav li.menu-item > a {
  padding: 5px;
  font-size: 36px;
  line-height: 36px;
}
.wq-navbar-box.navbar .navbar-header .navbar-nav li.menu-item > a:hover {
  background-color: #ddd;
}
.wq-navbar-box.navbar .navbar-header .navbar-nav li.menu-item:hover ul.dropdown-menu {
  display: block;
}
.wq-navbar-box.navbar .navbar-header .navbar-nav ul.dropdown-menu {
  top: -45px;
  left: 44px;
  margin-left: 10px;
  z-index: 1000;
  width: 160px;
}
.wq-navbar-box.navbar .navbar-header .navbar-nav ul.dropdown-menu:before {
  content: '';
  position: absolute;
  top: 50px;
  left: -20px;
  border: 10px solid transparent;
  border-right-color: #f3f4f5;
}
.wq-navbar-box.navbar .navbar-header .navbar-nav ul.dropdown-menu a {
  position: relative;
  font-size: 20px;
}
.wq-navbar-box.navbar .navbar-header .navbar-nav ul.dropdown-menu a:hover {
  background-color: white;
}
.wq-navbar-box.navbar .navbar-header .navbar-nav ul.dropdown-menu a:hover:before {
  content: '{';
  position: absolute;
  top: 7px;
  left: 15px;
}
.wq-navbar-box.navbar .navbar-header .navbar-nav ul.dropdown-menu a:hover:after {
  content: '}';
  position: absolute;
  top: 7px;
  right: 15px;
}
.wq-navbar-box.navbar .navbar-header .navbar-nav a {
  font-weight: bold;
  color: #31708f;
  text-align: center;
}
.wq-navbar-box.navbar .navbar-collapse {
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .wq-navbar-box.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 66px;
  }
  .wq-navbar-box.navbar .collapse {
    display: block;
    visibility: visible;
  }

  .navbar-subheader {
    display: none;
  }
}
@media (max-width: 767px) {
  .wq-navbar-box.navbar ul.dropdown-menu {
    display: none;
  }
  .wq-navbar-box.navbar .navbar-header {
    background-color: #3e8eb5;
  }
  .wq-navbar-box.navbar .navbar-header .navbar-nav li.menu-item:hover ul.dropdown-menu {
    display: none;
  }
  .wq-navbar-box.navbar .navbar-header .navbar-nav a {
    color: #245269;
  }
}
.feature-cover {
  position: fixed;
  left: 0;
  top: 0;
  width: 220px;
  height: 100%;
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/bg/mountain.jpg");
  z-index: 99;
}
.feature-cover .feature-cover-word {
  font-family: dfkai-sb, stkaiti, 標楷體, 华文楷体;
  position: absolute;
  top: 1em;
  left: 4em;
  color: white;
}
.feature-cover .feature-cover-word h3, .feature-cover .feature-cover-word p {
  float: left;
  width: 1em;
  display: none;
}
.feature-cover .feature-cover-word .feature-cover-content {
  margin-top: 76px;
  margin-left: 10px;
}
.feature-cover.loading-hidden {
  width: 0;
  overflow: hidden;
}

@media (max-width: 979px) {
  .feature-cover {
    display: none;
  }
}
.main-wrapper {
  font-family: "PingHei","Lucida Grande", "Lucida Sans Unicode", "Helvetica","Arial","Verdana","sans-serif";
}

.main-wrapper.container-fluid h1.page-title {
  padding-bottom: 4px;
  border-bottom: 1px solid #cacaca;
  color: #999;
  font-size: 20px;
}
.main-wrapper.container-fluid.main-wrapper--end {
  margin-left: 0;
}

.carousel img {
  width: 100%;
}

.post-content a {
  word-break: break-all;
  word-wrap: break-word;
}

.up-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 32px;
  cursor: pointer;
}

@media (min-width: 980px) {
  .main-wrapper.container-fluid {
    margin-left: 220px;
  }
  .main-wrapper.container-fluid.loading-change {
    margin-left: 66px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .main-wrapper.container-fluid {
    margin-left: 66px;
  }
}
@media (min-width: 768px) {
  .boot-wrapper.container-fluid {
    margin-left: 96px;
    margin-right: 30px;
  }
}
@media (max-width: 767px) {
  .main-wrapper.container-fluid {
    margin-left: 0;
  }

  .boot-wrapper.container-fluid {
    margin-left: 0;
  }
}
/*login-page*/
@media (min-width: 1096px) {
  .boot-wrapper.container-fluid .login {
    width: 940px;
    margin: 10px auto 25px;
  }
}
@media (max-width: 1095px) {
  .boot-wrapper.container-fluid .login {
    background: none;
    padding-bottom: 38px;
    margin-bottom: 20px;
  }
  .boot-wrapper.container-fluid .login-icon {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 1035px) {
  .boot-wrapper.container-fluid .login .login-screen {
    padding: 100px 50px;
  }
}
@media (max-width: 479px) {
  .boot-wrapper.container-fluid .login {
    padding: 0;
  }
  .boot-wrapper.container-fluid .login .login-screen {
    padding: 0;
    min-height: 213px;
  }
}
.post-wrapper {
  padding-top: 20px;
  padding-bottom: 30px;
  border-bottom: 1px dashed #cacaca;
}
.post-wrapper:hover {
  background-color: #fafafa;
}
.post-wrapper h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}
.post-wrapper .post-content {
  padding: 10px;
}
.post-wrapper .post-content p {
  margin-bottom: 0;
}

.post-tag {
  font-size: 14px;
}
.post-tag > span {
  margin-left: 10px;
  margin-right: 10px;
}
.post-tag .fa {
  margin-right: 4px;
}
.post-tag a {
  margin-right: 4px;
}

.post-pagination {
  padding-top: 20px;
}

.boot-wrapper h1.page-title {
  padding-bottom: 4px;
  border-bottom: 1px solid #cacaca;
  color: #999;
  font-size: 30px;
}
.boot-wrapper .paper-wrapper {
  border-bottom: 1px dashed #cacaca;
  padding-bottom: 15px;
}
.boot-wrapper .paper-wrapper img {
  max-width: 100%;
  max-height: 400px;
  clear: both;
  display: block;
  margin: auto;
  border: 2px solid #e7e9ec;
  border-radius: 6px;
}

.footer {
  margin-top: 20px;
}
.footer .copyright {
  font-size: 12px;
  color: #afafaf;
}
.footer .nav-pills > li > a {
  padding: 6px 11px;
  font-size: 12px;
}

.wq-panel h2 {
  font-size: 24px;
  margin: 5px;
}
.wq-panel p {
  margin: 5px;
}

.wq-archives-year, .wq-block {
  display: block;
  margin-bottom: 10px;
  padding: 4px;
  border: 2px solid #eee;
}
.wq-archives-year img, .wq-block img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.wq-archives-year h2, .wq-block h2 {
  margin: 15px;
  font-size: 18px;
}
.wq-archives-year p, .wq-block p {
  text-indent: 2em;
  margin: 10px 15px;
  font-size: 16px;
}
.wq-archives-year p .btn, .wq-block p .btn {
  text-indent: 0;
}
.wq-archives-year .btn-fix, .wq-block .btn-fix {
  position: absolute;
  bottom: 16px;
  right: 21px;
}
.wq-archives-year .block-cover, .wq-block .block-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  color: white;
}
.wq-archives-year.col-sm-6 p.wq-archives-content, .wq-block.col-sm-6 p.wq-archives-content {
  height: 60px;
}
.wq-archives-year blockquote, .wq-block blockquote {
  margin: 10px 3em;
  border-color: #31708f;
  font-size: 16px;
}
.wq-archives-year blockquote ul, .wq-block blockquote ul {
  list-style: none;
  padding-left: 0;
}
.wq-archives-year blockquote ul li, .wq-block blockquote ul li {
  position: relative;
}
.wq-archives-year blockquote ul .btn, .wq-block blockquote ul .btn {
  position: absolute;
  left: 88px;
  top: 4px;
}
.wq-archives-year .wq-item-list, .wq-block .wq-item-list {
  display: block;
  padding-left: 30px;
}
.wq-archives-year .wq-item-list:hover, .wq-block .wq-item-list:hover {
  background-color: #eee;
}
.wq-archives-year .wq-item-list .fui-link, .wq-block .wq-item-list .fui-link {
  padding-right: 5px;
}

.wq-archives-year:hover {
  border-color: #31708f;
}
.wq-archives-year:hover .block-cover {
  opacity: 0.6;
}

.bm-bg {
  position: relative;
  font-size: 20px;
  height: 30em;
  background-image: url("/images/bg/bm-bbg.jpg");
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bm-head {
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  z-index: 9;
}
.bm-head .bm-face {
  position: relative;
  width: 3.2em;
  height: 2.6em;
  margin: 0 auto;
  background-color: #d4b481;
  border-radius: 50% 50% 45% 45%;
  box-shadow: 0 0.25em 0.25em #7c7269, 0.25em 0.25em 0.3em #fbf8d7 inset;
}
.bm-head .bm-face .bm-face__part {
  position: absolute;
  background-color: black;
  top: 50%;
  left: 50%;
}
.bm-head .bm-face .bm-left-eye, .bm-head .bm-face .bm-right-eye {
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
  margin-top: -0.3em;
}
.bm-head .bm-face .bm-left-eye {
  margin-left: -1em;
}
.bm-head .bm-face .bm-right-eye {
  margin-left: 0.5em;
}
.bm-head .bm-face .bm-nose {
  width: 1.2em;
  height: 0;
  border-top: 0.1em solid black;
  margin-left: -0.6em;
}

.bm-body {
  position: absolute;
  width: 100%;
  height: 0;
  top: 2em;
  z-index: 6;
}
.bm-body .bm-body__part {
  position: absolute;
  left: 50%;
  top: 0.8em;
  width: 5em;
  height: 12em;
  background-color: #d4b481;
  box-shadow: 0 0 0.25em #7c7269 inset;
  overflow-x: hidden;
}
.bm-body .bm-body__part:before {
  display: block;
  content: '';
  width: 2em;
  height: 4em;
  border-radius: 100%;
  background-color: #b8c0c3;
  border: 1px solid #999;
  position: absolute;
  top: 50%;
  margin-top: -2em;
}
.bm-body .bm-finger {
  position: absolute;
  bottom: -0.5em;
  left: 50%;
  height: 1em;
  width: 0.4em;
  background-color: black;
  border-radius: 100%;
}
.bm-body .bm-left-arm {
  transform: rotate(19deg);
  -webkit-transform: rotate(19deg);
  margin-left: -6.7em;
  border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
  box-shadow: 0.2em 0.25em 0.2em #fbf8d7 inset;
}
.bm-body .bm-left-arm .bm-finger-1 {
  margin-left: -0.2em;
}
.bm-body .bm-left-arm .bm-finger-2 {
  margin-left: 0.2em;
}
.bm-body .bm-left-arm:before {
  left: -1em;
}
.bm-body .bm-right-arm {
  transform: rotate(-19deg);
  -webkit-transform: rotate(-19deg);
  margin-left: 1.8em;
  border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
  box-shadow: -0.2em 0.25em 0.2em #fbf8d7 inset;
}
.bm-body .bm-right-arm:before {
  right: -1em;
}
.bm-body .bm-shoulder {
  position: absolute;
  left: 50%;
  top: 0;
  width: 6em;
  height: 3.2em;
  border-radius: 100%;
  background-color: #d4b481;
  margin-left: -3em;
}
.bm-body .bm-chest {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 1.4em;
  width: 6em;
  height: 3.2em;
  margin-left: -3em;
  background-color: #d4b481;
}
.bm-body .bm-chest:before, .bm-body .bm-chest:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
}
.bm-body .bm-chest:before {
  border-top: 3.2em solid transparent;
  border-right: 1em solid #d4b481;
  left: -1em;
}
.bm-body .bm-chest:after {
  border-top: 3.2em solid transparent;
  border-left: 1em solid #d4b481;
  right: -1em;
}
.bm-body .bm-chest .bm-heart {
  position: absolute;
  right: 20%;
  width: 2.8em;
  height: 2.8em;
  line-height: 2.6em;
  border-radius: 100%;
  border: 1px solid #eee;
  font-size: 0.2em;
}
.bm-body .bm-chest .bm-infobd {
  width: 5em;
  height: 3em;
  background-color: white;
  margin: 2em auto 0;
  border-radius: 20% 20% 25% 25% / 39% 39% 39% 39%;
  text-align: center;
  line-height: 3em;
  color: #2e9ec6;
  font-size: bold;
}
.bm-body .bm-tummy {
  position: absolute;
  left: 50%;
  top: 4.6em;
  width: 8em;
  height: 4.8em;
  margin-left: -4em;
  background-color: #d4b481;
}
.bm-body .bm-tummy:before, .bm-body .bm-tummy:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
}
.bm-body .bm-tummy:before {
  border-top: 4.8em solid transparent;
  border-right: 1em solid #d4b481;
  left: -1em;
}
.bm-body .bm-tummy:after {
  border-top: 4.8em solid transparent;
  border-left: 1em solid #d4b481;
  right: -1em;
}
.bm-body .bm-hip {
  position: absolute;
  left: 50%;
  top: 6em;
  width: 10em;
  height: 9em;
  margin-left: -5em;
  background-color: #d4b481;
  border-radius: 100% 100% 100% 100%/80% 80% 80% 80%;
  box-shadow: 0 0.2em 0.05em #7c7269;
}

.bm-leg {
  position: absolute;
  width: 100%;
  height: 0;
  top: 15.4em;
  z-index: 4;
}
.bm-leg .bm-leg-left, .bm-leg .bm-leg-right {
  position: absolute;
  width: 3.6em;
  height: 5em;
  top: 0;
  left: 50%;
  background-color: #d4b481;
  overflow: hidden;
  box-shadow: 0 0.2em 0.05em #7c7269;
}
.bm-leg .bm-leg-left:before, .bm-leg .bm-leg-right:before {
  display: block;
  content: '';
  border-radius: 100%;
  position: absolute;
  background-color: #b8c0c3;
  width: 2em;
  height: 3em;
  border: 1px solid #999;
}
.bm-leg .bm-leg-left .foot, .bm-leg .bm-leg-right .foot {
  width: 3.6em;
  height: 2em;
  position: absolute;
  left: 0;
  bottom: -1.4em;
  background-color: #b8c0c3;
  border: 1px solid #999;
}
.bm-leg .bm-leg-left .foot:before, .bm-leg .bm-leg-right .foot:before {
  display: block;
  content: '';
  border-radius: 10%;
  position: absolute;
  left: 50%;
  margin-left: -0.8em;
  top: -0.3em;
  width: 1.6em;
  height: 0.3em;
  background-color: #b8c0c3;
  border: 1px solid #999;
  border-bottom: 0;
}
.bm-leg .bm-leg-left {
  margin-left: -3.6em;
  border-radius: 40% 20% 50% 100% / 100% 100% 72% 100%;
}
.bm-leg .bm-leg-left:before {
  top: 0;
  left: -1.2em;
}
.bm-leg .bm-leg-left .foot {
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
}
.bm-leg .bm-leg-right {
  border-radius: 20% 40% 100% 50% / 100% 100% 100% 72%;
}
.bm-leg .bm-leg-right:before {
  top: 0;
  right: -1.2em;
}
.bm-leg .bm-leg-right .foot {
  transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
}

* {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
