<div class="row">
    <div class="col-md-12">
        <h1 class="page-title">{{title}}</h1>
        <div class="wq-archives-year">
            <img src="/images/bg/tt.png">
        </div>
        <div class="wq-block">
            <h2>instanceof ME</h2>

        </div>
        <div class="wq-block">
            <h2>简单概述</h2>
            <p>我是一个"半路出家"，但是打算把写代码作为事业而奋斗一辈子的普通程序员。对前端(FrontEnd) & 交互体验(User Experience)等相关技术十分感兴趣，有轻微代码洁癖。曾经供职于<a href="http://fe.meituan.com/" rel="美团前端">美团网</a>平台业务部，现供职于<a href="http://www.yunshanmeicai.com" rel="美菜网">美菜网</a>大前端组。</p>
            <p>我的联系方式:</p>
            <blockquote>
                <ul>
                    <li>电子邮箱:<span class="btn btn-xs btn-inverse">www.fzw123@163.com</span></li>
                    <li>腾讯微信:<span class="btn btn-xs btn-inverse">79242285</span></li>
                    <li>新浪微博:<span class="btn btn-xs btn-inverse">weibo.com/sobranier</span></li>
                    <li>我的GIT:<span class="btn btn-xs btn-inverse">github.com/Sobranier</span></li>
                    <li>我的INS:<span class="btn btn-xs btn-inverse">instagram.com/sobraniers</span></li>
                    <li>我的图虫:<span class="btn btn-xs btn-inverse">sobranie.tuchong.com</span></li>
                </ul>
            </blockquote>
        </div>

        <div class="wq-block">
            <h2>碎碎念</h2>
            <p>我是一个"半路出家"，但是打算把写代码作为事业而奋斗一辈子的普通程序员。对前端(FrontEnd) & 交互体验(User Experience)等相关技术十分感兴趣，有轻微代码洁癖。曾经供职于美团网平台业务部，现供职于美菜网大前端组</p>
        </div>

    </div>
</div>

