<div class="row">
    <div class="col-md-12">
        <h1 class="page-title">{{title}}</h1>
        <div class="wq-archives-year">
            <img src="/images/bg/tt.png">
        </div>
        <div class="wq-block">
            <h2>instanceof ME</h2>

        </div>
        <div class="wq-block">
            <h2>简单概述</h2>
            <p>名伟庆，91年双子座，土生土长在江南小镇泰兴，来北京折腾了五年。本科毕业于北京大学智能系，学了几年算法和数学，在本科的最后一年决定从事前端事业。</p>
            <p>我是一个"半路出家"，但是打算把写代码作为事业而奋斗一辈子的普通程序员。对前端(FrontEnd) & 交互体验(User Experience)，以及相关的后端技术十分感兴趣，有轻微代码洁癖。曾经供职于<a href="http://fe.meituan.com/" rel="美团前端" title="点击访问美团前端博客" target="_blank">美团网</a>平台业务部，现供职于<a href="http://www.yunshanmeicai.com" rel="美菜网" title="点击访问美菜网" target="_blank">美菜网</a>大前端组。</p>
            <p>我爱好摄影，虽然没有什么太拿得出手的作品，也收获了挺多。照片经常被北大官方微博采用。</p>
            <p>我的联系方式:</p>
            <blockquote>
                <ul>
                    <li>电子邮箱:<a href="mailto:www.fzw123@163.com" class="btn btn-xs btn-inverse">www.fzw123@163.com</a></li>
                    <li>腾讯微信:<a class="btn btn-xs btn-inverse">79242285</a></li>
                    <li>新浪微博:<a href="http://weibo.com/sobranier" target="_blank" class="btn btn-xs btn-inverse">weibo.com/sobranier</a></li>
                    <li>我的GIT:<a href="http://github.com/Sobranier" target="_blank" class="btn btn-xs btn-inverse">github.com/Sobranier</a></li>
                    <li>我的INS:<a href="http://instagram.com/sobraniers" target="_blank" class="btn btn-xs btn-inverse">instagram.com/sobraniers</a></li>
                    <li>我的图虫:<a href="http://sobranie.tuchong.com" target="_blank" class="btn btn-xs btn-inverse">sobranie.tuchong.com</a></li>
                </ul>
            </blockquote>
        </div>

        <div class="wq-block">
            <h2>碎碎念</h2>
            <p>虽然是90后，但是到了社会上已经明显感到我们的老态。</p>
        </div>

    </div>
</div>

