<div class="row">
    <div class="col-md-12">
        <h1 class="page-title">{{post.title}}</h1>
        这个界面可能是一个静态化的界面，也就是内容写死了，大概是一个历史数据的dashboard
        archives/year界面需要做一些优化，这个界面也是一个文章列表界面，不过会相对做一些优化

        archives/year/month 和 archives/year/mongth/day 这两个界面都是比较普通的文章列表界面，根据时间挑选出文章

        这里按照时间做优化的列表接口应该是和后台做成一样的
    </div>
</div>

