<div class="row">
    <div class="col-md-12">
        <h1 class="page-title">{{file.name}}</h1>

        <div class="col-sm-12">
            <div class="wq-archives-year">
                <img src="/images/bg/tt.png">
                <h2>二零一五年文章存档</h2>
                <p class="wq-archives-content">新的一年，会发生什么呢，很是期待</p>
                <p class="clearfix"><a href="/archives/2015" class="btn btn-primary btn-xs fr">翻开存档</a></p>
            </div>
        </div>
        <!--
        <div class="col-sm-6">
            <div class="wq-archives-year">
                <img src="/images/bg/tt.png">
                <h2>其他年文章存档</h2>
                <p class="wq-archives-content">新的一年，会发生什么呢，很是期待</p>
                <p class="clearfix"><a href="/archives/2015" class="btn btn-primary btn-xs fr">翻开存档</a></p>
            </div>
        </div>
        -->
    </div>
</div>

