<div class="row">
    <div class="col-md-12">
        <h1 class="page-title">{{title}}</h1>
        <div class="wq-archives-year">
            <img src="/images/bg/butfly.jpg">
        </div>
        <div class="wq-block">
            <h2>君子先择而后交</h2>
            <p><a href="/about" alt="关于严伟庆" target="_blank">关于我</a>的介绍已经很完整了，如果想联系我，可以写信给我，或者关注我的微博</p>
            <blockquote>
                <ul>
                    <li>电子邮箱:<a href="mailto:www.fzw123@163.com" class="btn btn-xs btn-inverse">www.fzw123@163.com</a></li>
                    <li>新浪微博:<a href="http://weibo.com/sobranier" target="_blank" class="btn btn-xs btn-inverse">weibo.com/sobranier</a></li>
                </ul>
            </blockquote>
            <p>也可以直接在下面留言~</p>
        </div>
    </div>
</div>
<div id="disqus_thread"></div>
<script>
    requirejs(['mou/disqus']);
</script>

