<div class="row">
    <div class="col-md-12">
        <h1 class="page-title">{{title}}</h1>
        <div class="wq-archives-year">
            <img src="/images/bg/tt.png">
        </div>
        <div class="wq-block">
            <a class="wq-item-list" href="http://zmx.im/" target="_blank">
                <span class="fui-link"></span>林夕轩的博客
            </a>
            <a class="wq-item-list" href="http://kxj.me/" target="_blank">
                <span class="fui-link"></span>xiaojun的博客
            </a>
            <a class="wq-item-list" href="http://www.xuluxi.cn/" target="blank">
                <span class="fui-link"></span>luxi的博客
            </a>
            <a class="wq-item-list" href="http://zhiye.li/" target="_blank">
                <span class="fui-link"></span>zhiyelee的博客
            </a>
            <a class="wq-item-list" href="http://shangchun.net/" target="_blank">
                <span class="fui-link"></span>春哥的博客
            </a>
            <a class="wq-item-list" href="http://fe.meituan.com/" target="_blank">
                <span class="fui-link"></span>美团FE
            </a>
            <a class="wq-item-list" href="http://www.yunshanmeicai.com" target="_blank">
                <span class="fui-link"></span>美菜网
            </a>
        </div>
    </div>
</div>

