<audio class="J-audio">
    <source type="audio/mpeg"">
    Your browser does not support the audio element.
</audio>

<div class="J-plus">启</div>
<div class="J-status">动</div>
<div class="J-prev">上一首</div>
<div class="J-next">下一首</div>
<div class="J-nextGroup">下一组</div>

{{info}}




<script>
    requirejs(['mou/music']);
</script>
